/* Import the rabar font */
@font-face {
  font-family: "rabar";
  src: url("/public/Rabar_021.woff") format("woff");
  font-weight: regular;
}

body {
  background-color: #f5f7fb;
}

body.dark {
  background-color: #121923;
}
/* fix aos favs dark mode */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
/* fix arrow in select not going to left side while dir is rtl */
@layer base {
  :where([dir="rtl"]) select {
    background-position: left theme("spacing.2") center;
    padding-left: theme("spacing.10");
    padding-right: theme("spacing.3");
  }
}

/* .swiper-button-next::after,
.swiper-button-prev::after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
} */
/* 
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  background-color: white;
}

/* Apply the nrt font for Kurdish language (ku) */
html[lang="ku"],
body[lang="ku"] {
  font-family: "rabar", sans-serif !important;
}
