@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swiper-button-next::after,
.swiper-button-prev::after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
} */
/* 
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
